h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus {
	float: right;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: roboto;
	background: #5C258D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

span {
	color: #fff;
	background: #e74c3c;
	height: 40px;
	width: 0;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
	/*opacity: 0;*/
}

li:hover span {
	width: 40px;
}

input {
	color: #2980b9;
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border:0;
    border-bottom: 1.5px dotted #f7f7f7;
	transition: 0.2s linear;
}

input:focus {
	background: #fff;
	border:0;
    border-bottom: 1.5px dotted #2980b9;
    outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
	color: gray;
	text-decoration: line-through;
}


::placeholder { 
    color: #C390D4;
    opacity: 1; /* Firefox */
}
